/* General and Username Styles */
.side a[href*="/twitter.com/"] {
    display: inline-block;
    position: relative;
    margin-top:0px;
    font-size: 100%;
    text-align: center;
    width: 260px;
    padding: 5px;
    border: 3px solid #4099FF;
    color: #4099FF;
    font-weight: bold;
    background: white;        
}

/* Tweet Style */
.side a[href*="/status"] {
    border-color: #4099FF;
    color: white;
    font-weight: normal;
    background: #4099FF;
}